.card {
    width: 100%;
    margin: auto;
    max-width: 1000px;
    background-color: var(--second-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.title {
    font-size: var(--title1);
    font-weight: var(--semi-bold);
    margin-right: 15px;
}

.stars * {
    margin-right: 4px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    font-size: var(--normal);
    line-height: 1.5em;
    padding: 1em;
}

.iframeYT {
    width: 100%;
    min-height: 30vh;
    height: 30vw;
}

///////////////////
/// ControllerModal
///////////////////

.controllerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.controllerOverlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: none;
}

.controllerOverlayOn {
    @extend .controllerOverlay;
    display: block;
}

.controllerDisplay {
    display: none;
    position: fixed;
    top: 10vh;
    right: 10vw;
    z-index: 6;
    width: 800px;
    height: 350px;
}

.controllerImage{
    width: 100%;
    height:100%;
    animation-duration: 0.5s;
    animation-name: grow;
}

@keyframes grow {
    from {
            height: 0%;
            width: 0%;
        }
    
    to {
            height: 100%;
            width: 100%;
        }
}

.controllerDisplayOn {
    @extend .controllerDisplay;
    display: flex;
    justify-content: end;
}

.modalCloseButton {
    position: absolute;
    top: 2vh;
    right: 2vw;
    z-index: 10;
}

.modalCloseButton:hover {
    cursor: pointer;
}

.modalRotateIcon {
    position: absolute;
    bottom: 15vh;
    right: 42vw;
    display: none;
}

//////////////
/// RESPONSIVE
/////////////


@media screen and (max-width: 1200px) {
    .headerLeft {
        flex-direction: column;
        align-items: flex-start;
    }
    .stars {
        padding-top: 4px;
    }
    .header, .text {
        padding: 1em;
    }
}

@media screen and (max-width: 900px) {
    .controllerDisplay {
        left: 2vw;
        width: 90%;
    }
}
@media screen and (max-width: 600px) {
    @media screen and (orientation: portrait) {
        .controllerDisplay {
            transform: rotate(90deg);
            width: 60vh;
            height: 80vw;
            left: calc(-30vh + 40vw);
            top: 15vh;
        }
        .modalRotateIcon {
            display: block;
        }
    }
}