.main {
    height: 100vh;
    padding-top: 8em;
}

.cardsContainer {
    margin-left: 500px;
    padding-bottom: 0.1em;
}

@media screen and (max-width: 1000px) {
    .cardsContainer {
        margin-left: 0;
    }
}