:root {
    --max-width: 1100px;
    --main-color: #1B1F2A;
    --second-color: #2D3B46;
    --third-color: #743EED;
    --hover-color: #384957;

    /* A retravailler pour responsive */
    --title1: 32px;
    --title2: 26px;
    --title3: 22px;
    --normal: 18px;
    --small: 16px;

    --medium: 500;
    --semi-bold: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--main-color);
  color: white;
}