.main {
    width: 100%;
    height: 5em;
    background-color: var(--second-color);
    display: flex;
    padding-left: 0.5em;
    position: fixed;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    align-self: center;
}

.element {
    font-size: var(--normal);
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
}

.link_active {
    @extend .link;
    border-bottom: 4px solid var(--third-color);
}