///////////////
/// COMP Navbar
///////////////

.main {
    width: 100%;
    height: 5em;
    background-color: var(--second-color);
    display: flex;
    padding-left: 0.5em;
    position: fixed;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    align-self: center;
}

.element {
    font-size: var(--normal);
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
}

.link_active {
    @extend .link;
    border-bottom: 4px solid var(--third-color);
}

/////////////////
// MOBILE Navbar
////////////////

.mainMobile {
    @extend .main;
    justify-content: space-between;
    z-index: 2;
    padding: 0 1em;
}

//BURGER M

.menuBurger {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: -250px;
    background: rgba($color: #000000, $alpha: 0.9) ;
    padding-top: 60px;
    transition: right 0.5s ease;
}

.menuBurger_active {
    @extend .menuBurger;
    right: 0;
}

.containerMobile {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}

.elementMobile {
    align-self: start;
    @extend .element;
    margin-top: 2em;
}

.linkMobile_active {
    @extend .link_active;
    height: 2em;
}

.linkMobile {
    @extend .link;
    height: 2em;
}

//BUTTONS

.burgerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sideBarButton {
    @extend .burgerButton;
    padding-left: 5px; 
}

.closeButton {
    @extend .burgerButton;
    position: absolute;
    top: 5px;
    left: 25px;
    font-size: 36px;
    color: white;
}

//OVERLAY

.overlayMobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.4) ;
    display: none;
}

.overlayMobile_active {
    @extend .overlayMobile;
    display: block;
}