.main {
    height: 50%;
    margin-top: 2em;
    background-color: var(--second-color);
    border-radius: 12px;
    padding: 1em;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffffff; 
}

 /* Chrome, Edge, and Safari */
.container::-webkit-scrollbar {
  width: 11px;
}
.container::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 15px;
  border: 25px none #ffffff;
}
.move {
    font-size: 22px;
    margin-bottom: 16px;
    text-decoration: none;
    color: white;
}